.info-card {
  position: relative;

  width: 220px;
  margin: 20px;

  overflow: hidden;

  &__info {
    padding: 0px;
    padding-bottom: 10px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    h3 {
      padding: 5px;
      margin: 0;
      color: $font-grey-dark;
      font-size: 18px;
    }

    h4 {
      margin: 0;
      padding: 3px;
      color: $font-grey;
      font-size: 16px;
      margin-bottom: 10px;
    }

    p {
      margin: 8px 0 0 0;
      color: $font-grey;
      font-size: 12px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      color: $font-grey;

      li {
        margin: 3px 0;
        font-size: 14px;
      }
    }
  }
  &:hover {
    button {
      visibility: visible;
    }
  }
}

.search-section {
  min-width: 50vw;
  margin: 10px 0;
  padding: 10px 30px;

  display: flex;
  flex-flow: column nowrap;

  &__buttons {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
  }
  &__clear {
    display: flex;
    margin-top: 5px;
    width: 100%;
    button {
      margin: 5px;
    }
  }
}

@media screen and (max-width: 620px) {
  .search-section {
    min-width: 50vw;
    margin: 10px 0;
    padding: 10px 30px;

    display: flex;
    flex-flow: column nowrap;

    &__buttons {
      margin-top: 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    &__clear {
      display: flex;
      margin-top: 5px;
      width: 100%;
      button {
        margin: 5px;
      }
    }
  }
}
