.characteristics {
  display: flex;
  align-items: center;

  padding: 10px 20px;
  padding-bottom: 15px;

  &__icon {
    position: relative;
    top: 7px;
    background-color: $color-1;
    border-radius: 200px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 1.7rem;
      color: white;
    }
  }

  &__info {
    padding-left: 15px;
    p {
      font-size: 14px;
      color: $font-grey;
      margin: 0;
    }
    h4 {
      font-size: 24px;
      color: $font-grey-dark;
      margin: 0;
    }
  }
}
