.div-space {
  height: 0;
}

.item-info {
  display: flex;
}

.item-info-table {
  overflow: hidden;
  margin: 20px;
  padding: 15px;
}

@media screen and (max-width: 620px) {
  .div-space {
    height: 60px;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item-info-table {
    overflow: hidden;
    margin: 20px 8px;
    // padding: 5px;
    // max-width: 100%;
  }
}
