// --- Fonts: ---
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

// --- Variables: ---
@import "./variables.scss";
@import "./globals.scss";

// --- Layouts ---
@import "../layouts/LayoutStyles.scss";

// --- Templates ---
@import "../components/templates/TemplatesStyles.scss";

// --- Organisms: ---
@import "../components/organisms/home/HomeStyles.scss";
@import "../components/organisms/OrganismsStyles.scss";

// --- Molecules: ---
@import "../components/molecules/Characteristics.scss";
@import "../components/molecules/Loading.scss";

// --- Atoms: ---
@import "../components/atoms/ButtonPrimary.scss";
@import "../components/atoms/ButtonSimple.scss";
@import "../components/atoms/ShapeDividerWhite.scss";
@import "../components/atoms/Status.scss";

/*
Atoms:
Basic building blocks of matter, such as a button, input or a form label. They’re not useful on their own.
Molecules:
Grouping atoms together, such as combining a button, input and form label to build functionality.
Organisms:
Combining molecules together to form organisms that make up a distinct section of an interface (i.e. navigation bar)
Templates:
Consisting mostly of groups of organisms to form a page — where clients can see a final design in place.
*/
