$bg-primary-color: #f2f3f4;
$bg-image-cover: #002344;
$font-grey: #7f8c8d;
$font-grey-dark: #424949;

$border-radius: 20px;

$color-1: #006c93;
$color-2: #0096a6;
$color-3: #00bd9d;
$color-4: #8ae083;
$color-5: #ffffff;
$color-6: #f9f871;

$color-1-1: #2f4368;
$color-1-2: #faf76b;
$color-1-3: #87501f;
$color-1-4: #f7c49d;
$color-1-5: #eaeaea;
